{% extends "block.html.twig" %}
{% block content %}
  {% if site_logo %}
  <div class="site_logo">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img width="50" height="50" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
  </div>
  
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}